* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {

    display:flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: cornflowerblue;
} 

.card {
    display: flex;
    margin: 20px;
    width: 600px;
    height: auto;
    background: #ddd;
    padding: 15px;
   

}

.descripcion {
    margin: 0px 10px 10px 10px;
    text-align: justify;
    align-items: center;
    justify-content: center;

}

.header a img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    box-shadow: 0 0 0 5px rgba(32, 91, 201, 0.5);
}


.header a:hover img {
    box-shadow: 0 0 0 7px rgba(32, 91, 201, 0.5);
}

.card .header{
    
    text-align: center;
    
}

.header h2,h4 {
    margin-top: 2px;
}

.descripcion {
   padding:10px ;
   border-left: 1px solid rgba(0,0,0,0.2);
}
